@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

.sections {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.side-bar {
    width: 30%;
}

.plant-background {
    height: 100vh;
    background-image: url("background-plant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.odin-logo-background {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 30%;
    height: 140px;
    background-color: black;
    opacity: 40%;
}

.odin-logo {
    font-family: Norse-Bold;
    position: absolute;
    top: 200px;
    left: 0px;
    width: 30%;
    opacity: 100%;
    color: white;
    font-size: 140px;
    display: flex;
    justify-content: center;
}

.odin-icon {
    height: 120px;
    display: flex;
    align-self: center;
}

.main-page {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.top-section {
    background-color: #f7f7f7;
    flex-grow: 1;
    display: flex;
    align-items: end;
}

.top-text {
    margin-left: 40px;
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: bold;
    width: 55ch;
}

.form {
    background-color: #ffffff;
    height: 250px;
}

.form-header {
    font-size: 22px;
    font-weight: bold;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.form-component {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
}

.form-component > label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
}

.form-component > input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottom-text {
    background-color: #f7f7f7;
    flex-grow: 1;
    padding-left: 40px;
    padding-top: 30px;
}

button {
    font-family: Arial, sans-serif;
}